<mat-card *ngIf="lelSeleccionado">
  <h2 *ngIf="lelSeleccionado.id != 0">Editar LEL</h2>
  <h2 *ngIf="lelSeleccionado.id == 0">Agregar LEL</h2>
  <form novalidate #f="ngForm">
    <mat-form-field class="all-width">
      <input matInput required name="titulo" placeholder="Título" [ngModel]="lelSeleccionado.titulo" #titulo="ngModel">
      <mat-error *ngIf="titulo.invalid">Debe ingresar el Título</mat-error>
    </mat-form-field>
    <mat-form-field class="all-width">
      <input matInput required name="descripcion" placeholder="Descripción" [ngModel]="lelSeleccionado.descripcion" #descripcion="ngModel">
      <mat-error *ngIf="descripcion.invalid">Debe ingresar el apellido</mat-error>
    </mat-form-field>
    <br/>
    <div class="tabla mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nocion">
          <mat-header-cell *matHeaderCellDef> Noción </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nocion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="categoria">
          <mat-header-cell *matHeaderCellDef> Categoría </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ convert(element.categoria) }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="peso">
          <mat-header-cell *matHeaderCellDef> Peso </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.peso}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerFor]="menu" class="accion">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="AgregarSimbolo(element)">Agregar</button>
              <button mat-menu-item (click)="EditarSimbolo(element)">Editar</button>
              <button mat-menu-item (click)="EliminarSimbolo(element)">Eliminar</button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <br/>
    <mat-card-actions>
      <button mat-button class="btn btn-default" (click)="Regresar()">
        Cancelar
      </button>
      <button mat-button color="primary" [disabled]="f.invalid" (click)="Guardar(f.value)" class="btn btn-primary">
        Aceptar
      </button>
    </mat-card-actions>
  </form>
</mat-card>
